## 우선 사용할 DB 생성

In [6]:
%load_ext sql

In [7]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://...

'Connected: seankkang@dev'

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS seankkang.name_gender (
   name varchar(32),
   gender varchar(8)
);

 * postgresql:/...
Done.

[]

In [1]:
import psycopg2

# Redshift connection 함수
def get_Redshift_connection():
    host = "..."
    redshift_user = "..."
    redshift_pass = "..."
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

# ETL 함수를 하나씩 정의

In [2]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)

In [3]:
def transform(text):
    lines = text.split("\n")
    return lines

In [8]:
def execute_with_log(cursor, sql):
  print(f'Execute : {sql};')
  cursor.execute(sql)

target_table = 'seankkang.name_gender'

def load(lines):
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    # BEGIN;TRUNCATE TABLE;INSERT INTO TABLE VALUES ('KEEYONG', 'MALE');END;
    cur = get_Redshift_connection()

    # Starg transaction
    execute_with_log(cur, f'BEGIN')
    # Truncate table before Insert 
    execute_with_log(cur, f'TRUNCATE TABLE {target_table}')

    for record in lines[1:]: # except header
      if record and record.strip():
        name, gender = record.split(',')
        print(f'{name} - {gender}')

        if name and gender:
          execute_with_log(cur, f"INSERT INTO {target_table} VALUES ('{name}', '{gender}')")
        
    # End transation 
    execute_with_log(cur, f'END')

# 이제 Extract부터 함수를 하나씩 실행

In [9]:
%%sql
SELECT COUNT(1) FROM seankkang.name_gender

 * postgresql://...
1 rows affected.

[(0,)]

In [10]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)

In [11]:
lines = transform(data)

In [12]:
load(lines)

Execute : BEGIN;
Execute : TRUNCATE TABLE seankkang.name_gender;
Adaleigh - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adaleigh', 'F');
Amryn - Unisex
Execute : INSERT INTO seankkang.name_gender VALUES ('Amryn', 'Unisex');
Apurva - Unisex
Execute : INSERT INTO seankkang.name_gender VALUES ('Apurva', 'Unisex');
Aryion - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Aryion', 'M');
Alixia - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Alixia', 'F');
Alyssarose - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Alyssarose', 'F');
Arvell - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Arvell', 'M');
Aibel - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Aibel', 'M');
Atiyyah - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Atiyyah', 'F');
Adlie - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adlie', 'F');
Anyely - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Anyely', 'F');
Aamoni - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aamoni', 'F');
Ahman - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Ahman', 'M');
Arlane - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Arlane', 'F');
Armoney - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Armoney', 'F');
Atzhiry - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Atzhiry', 'F');
Antonette - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Antonette', 'F');
Akeelah - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Akeelah', 'F');
Abdikadir - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Abdikadir', 'M');
Arinze - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Arinze', 'M');
Arshaun - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Arshaun', 'M');
Alexandro - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Alexandro', 'M');
Ayriauna - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Ayriauna', 'F');
Aqib - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Aqib', 'M');
Alleya - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Alleya', 'F');
Aavah - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aavah', 'F');
Anesti - Unisex
Execute : INSERT INTO seankkang.name_gender VALUES ('Anesti', 'Unisex');
Adalaide - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adalaide', 'F');
Analena - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Analena', 'F');
Alaeyah - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Alaeyah', 'F');
Albena - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Albena', 'F');
Aimi - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aimi', 'F');
Adwaith - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Adwaith', 'M');
Arkady - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Arkady', 'M');
Astyn - Unisex
Execute : INSERT INTO seankkang.name_gender VALUES ('Astyn', 'Unisex');
Adelee - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adelee', 'F');
Agata - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Agata', 'F');
Alegna - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Alegna', 'F');
Altan - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Altan', 'M');
Ahnaleigh - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Ahnaleigh', 'F');
Algie - Unisex
Execute : INSERT INTO seankkang.name_gender VALUES ('Algie', 'Unisex');
Ashanti - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Ashanti', 'F');
Aislyn - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aislyn', 'F');
Adaleine - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adaleine', 'F');
Anthnoy - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Anthnoy', 'M');
Algernon - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Algernon', 'M');
Aeryona - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aeryona', 'F');
Adrinne - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adrinne', 'F');
Addell - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Addell', 'F');
Avril - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Avril', 'F');
Ahni - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Ahni', 'F');
Aimon - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Aimon', 'M');
Adolpho - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Adolpho', 'M');
Ahuva - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Ahuva', 'F');
Aurielle - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aurielle', 'F');
Aveana - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aveana', 'F');
Aliyia - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aliyia', 'F');
Alesander - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Alesander', 'M');
Adnrea - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adnrea', 'F');
Anjae - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Anjae', 'F');
Alvine - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Alvine', 'F');
Adorah - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adorah', 'F');
Adlemi - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adlemi', 'F');
Alesi - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Alesi', 'F');
Alontae - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Alontae', 'M');
Antonny - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Antonny', 'M');
Adarah - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Adarah', 'F');
Ayreanna - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Ayreanna', 'F');
Antyon - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Antyon', 'M');
Andia - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Andia', 'F');
Ashla - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Ashla', 'F');
Aspyn - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aspyn', 'F');
Antwanett - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Antwanett', 'F');
Aundreia - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aundreia', 'F');
Audella - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Audella', 'F');
Amari - Unisex
Execute : INSERT INTO seankkang.name_gender VALUES ('Amari', 'Unisex');
Arsha - Unisex
Execute : INSERT INTO seankkang.name_gender VALUES ('Arsha', 'Unisex');
Aricella - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aricella', 'F');
Adan - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Adan', 'M');
Apasra - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Apasra', 'F');
Alaysha - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Alaysha', 'F');
Anderson - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Anderson', 'M');
Aurelius - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Aurelius', 'M');
Aerial - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aerial', 'F');
Averleigh - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Averleigh', 'F');
Aslean - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Aslean', 'F');
Arniesha - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Arniesha', 'F');
Asyana - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Asyana', 'F');
Annjane - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Annjane', 'F');
Amabella - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Amabella', 'F');
Austinjohn - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Austinjohn', 'M');
Arloween - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Arloween', 'F');
Alula - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Alula', 'M');
Anemone - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Anemone', 'F');
Amorina - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Amorina', 'F');
Anureet - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Anureet', 'F');
Arric - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Arric', 'M');
Antonne - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Antonne', 'M');
Alyre - M
Execute : INSERT INTO seankkang.name_gender VALUES ('Alyre', 'M');
Annaise - F
Execute : INSERT INTO seankkang.name_gender VALUES ('Annaise', 'F');
Execute : END;

In [13]:
%%sql
SELECT COUNT(1) FROM seankkang.name_gender

 * postgresql://...
1 rows affected.

[(100,)]